#slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 470px;
    position: relative;
    margin: auto;
}

.slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    z-index: -1;
    object-position: center;
}


 #slide .arrow {
    position: absolute;
 }

#slide .arrow_left {
    left: 10px;
    top:190px;
    cursor: pointer;
}

#slide .arrow_right {
    right: 10px;
    cursor: pointer;
}


@media (max-width: 768px) {

    #slide{
      min-height: 250px;
    }
    .slide_img{
      height: 255px;
        border-radius: 10px;
    }
    #slide .arrow_right {
        width: 15px;
        right: 5px;
    }
    #slide .arrow_left {
        top:110px;
        width: 30px;
        left: 0px;
    }
}