#contenaire__cards {
    display: flex;
     justify-content: center;
    flex-wrap: wrap;
    height: auto;
    gap: 50px 60px;
    padding: 50px;
    max-width: 1240px;
    margin: 30px auto;
    box-sizing: border-box;
  
    .cards {
      width: 340px;
      height: 340px;
      border-radius: 10px;
      position: relative;
      object-fit: cover;
      overflow: hidden;
      
  
  
      &::after {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background:  linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 34%);
        position: absolute;
        top: 0;
      }
    }
  a#cards__a{
    display: block;
    height: 100%;
    width: 100%;
   }
    h2 {
      position: absolute;
      color: white;
      font-family: $font;
      font-size: $font-l;
      font-weight: $font-w-xl;
      text-decoration: none;
      left: 20px;
      bottom: 10px;
      z-index: 50;
    }
  
    .card_cover {
      object-fit: cover;
      position: relative;
    }
  
  
  }
  
  @media (max-width: 768px) {
    #contenaire__cards {
      margin: 50px 0;
      width: 100%;
      padding: 20px;
  
      .cards {
        width: 100%;
        height: 200px;
      }
  
      h2 {
        font-size: $font-l;
        left: 20px;
        bottom: 10px;
      }
  
    }
  }
  