.details__container {
  max-width: 1220px;
  margin: 0 auto;

  .details__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;


//////DETAILS INFOS LOCALISATION
    .details__content--title {
      font-family: $font;
      font-size: 36px;
      color: $color-primary;
      font-weight: 500;
    }

    .details__content--location {
      font-family: $font;
      font-size: 18px;
      color: black;
      font-weight: 500;
    }

    .details__content--tags {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
    .tags-row {
      display: flex;
      flex-direction: row;
      gap: 10px; 
    }

    .details__content--tag {
      color: white;
      font-family: $font;
      font-size: 14px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      background: #ff6060;
      padding: 0 10px;
      width: 100px;
      height: auto;
    }

//////DETAILS HOST
    .details__host {
      display: flex;
      flex-direction: column;
    }

    .details__host--name {
      color: $color-primary;
      font-family: $font;
      font-size: 18px;
      font-weight: 500;
      width: 50px;
      flex-wrap: wrap;
      text-align: right;
      display: flex;
      margin-right: 50px;
    }

    .details__host--image {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }

    .details__host--info {
      display: flex;
      flex-direction: row;
    }

    .details__host--rating {
      .full {
        color: #ff6060;
      }

      .empty {
        color: lightgrey;
      }
    }
  }

//////DETAILS ACCORDEON
  .details__host--accordeon#accordeon__container {
    display: flex;
    flex-direction: row;

    .accordeon {
      flex: 1;
    }
    .no-bullets {
      list-style-type: none;
      padding: 0;
    }
  }

}



@media (max-width: 768px) {
  .details__container {
    max-width: 350px;    
  }

 .details__container .details__content {
  display: block;
  margin: 10px;

  //////DETAILS INFOS LOCALISATION
    .details__content--title {
      font-size: 18px;
      width: 300px;      

    }
    .details__content--location {
      font-size: 14px;
    }
    .details__content--tag {
      font-size: 10px;
      width: auto;
      border-radius: 5px;
    }

//////DETAILS HOST
    .details__host{
      display: flex;
    }

    .details__host--name{
      order: 2;
      margin-top: 30px;
      margin-right: -110px;
      font-size: 12px;
    }
    .details__host--image {
      width: 50px;
      height: 50px;     
      order: 3;
      margin-left: auto;
      margin-top: 20px;
  }
    }
    .details__host--rating {
      display: block;
      margin-right: auto;
      margin-top: 50px;
    }
  } 
  
//////DETAILS ACCORDEON  
  .details__container .details__host--accordeon#accordeon__container {
    display: block;
    margin:30px 0 30px 0;   
  }

 





